<template>
  <div class="donation-form-container">
    <form @submit.prevent="submitForm">
      <h3>{{donation.message}}</h3>
      <div class="form-element">
        <label for="name">Name</label>
        <input v-model="donation.name" id="name" required="true">
      </div>
      <div class="form-element">
        <label for="city">City</label>
        <input v-model="donation.city" id="city" required="true">
      </div>
      <div class="form-element">
        <label for="typedonation">Donation Type</label>
        <input v-model="donation.typedonation" id="typedonation" required="true">
      </div>
      <div class="form-element">
        <label for="quantity">Quantity</label>
        <input type="number" v-model="donation.quantity" id="quantity" required="true">
      </div>
      <div class="form-element">
        <label for="rate">Rate</label>
        <input type="number" v-model="donation.rate" id="rate" required="true">
      </div>
      <div class="form-element">
        <label for="dietaryRequirement">Dietary Requirement</label>
        <select
          type="select"
          v-model="donation.dietaryRequirement"
          id="dietaryRequirement"
          required="true"
        >
          <option value="vegan">vegan</option>
          <option value="vegetarian">vegetarian</option>
          <option value="gluten">gluten</option>
          <option value="other">other</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "donation-form",
  data() {
    return {
      donation: {
        name: "",
        city: "",
        typedonation: "",
        quantity: 0,
        rate: 0,
        dietaryRequirement: "other",
        message: ""
      },
      errors: null
    };
  },
  methods: {
    submitForm() {
      fetch("http://localhost:3000/foodbank", {
        method: "POST",
        mode: "cors",
        cache: "no-cache",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8"
        },
        body: JSON.stringify(this.donation)
      })
        .then(response => response.json())
        .then(({ data, message }) => {
          this.donation = { data, message };
        })
        .catch(error => this.errors.push(error.message));
    }
  }
};
</script>

<style scoped>
.donation-form-container {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
.form-element input:focus:invalid {
  border: 2px solid red;
  outline: none;
}
.form-element {
  padding: 10px;
  width: 100%;
}
.form-element * {
  display: inline-block;
}
span {
  display: block;
}
.form-element label {
  width: 30%;
}
.form-element input,
select {
  width: 70%;
}
.form-element input,
select,
button {
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  border: none;
}
select {
  border: 1px solid #00c19a;
}
button {
  background-color: #00c19a;
}
h3 {
  color: #00c19a;
}
</style>
