<template>
  <section class="box vertical">
    <div>name: {{donation.name}}</div>
    <p>city: {{donation.city}}</p>
    <p>typedonation: {{donation.typedonation}}</p>
    <p>quantity: {{donation.quantity}}</p>
    <p>dietaryRequirement: {{donation.dietaryRequirement}}</p>
    <p>
      <button class="upvote" v-on:click="$emit('upvote', donation._id)">❤️</button>
      <strong>{{donation.rate}}</strong>
    </p>
    <a class="delete" href v-on:click.prevent="$emit('delete', donation._id)">Delete</a>
  </section>
</template>

<script>
export default {
  name: "donation",
  props: ["donation"],
  methods: {},
  computed: {
    editLink() {
      return `/${this.donation._id}/edit`;
    }
  }
};
</script>

<style scoped>
.box {
  border: 1px solid #025441;
  padding: 10px;
  max-height: 400px;
}
strong {
  display: inline-block;
}
.upvote {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.upvote:active {
  transform: scale(2);
}
.upvote:active ~ strong {
  transform: scale(1.6);
}
.upvote,
strong {
  transition: transform 0.3s ease-in-out;
}
.delete {
  color: red;
  font-weight: bolder;
  text-align: right;
}
</style>
