<template>
  <section class="wrapper">
    <div class="filter">
      <label for="diet">
        <span> Filter By Diet Type </span>
        <select
          @change="filterDonations"
          type="select"
          v-model="filter"
          class="diet"
          id="diet"
        >
          <option value="all">--Filter by diet type--</option>
          <option value="vegan">vegan</option>
          <option value="vegetarian">vegetarian</option>
          <option value="gluten">gluten</option>
          <option value="other">other</option>
          <option value="all">Reset Filter</option>
        </select>
      </label>
      <label for="rating" >
        Filter By Ratings
        <select
          @change="filterByRatings"
          type="select"
          v-model="ratingFilter"
          id="rating"
          class="rating"
        >
          <option value>--Filter By Ratings--</option>
          <option value="ascending">ascending</option>
          <option value="descending">descending</option>
        </select>
      </label>
    </div>

    <section class="donation-list">
      <donation
        v-for="donation in filteredDonations"
        :key="donation._id"
        :donation="donation"
        v-on:delete="deleteDonation"
        v-on:upvote="upvoteDonation"
      />
    </section>
  </section>
</template>

<script>
import Donation from "./Donation.vue";

export default {
  name: "donation-list",
  components: { Donation },
  data() {
    return {
      donations: [],
      errors: [],
      filter: "",
      ratingFilter: null,
      filteredDonations: []
    };
  },
  mounted() {
    this.fetchDonations();
  },
  methods: {
    fetchDonations() {
      fetch("http://localhost:3000/foodbank")
        .then(response => response.json())
        .then(
          donations => (this.donations = this.filteredDonations = donations)
        );
    },
    upvoteDonation(id) {
      fetch(`http://localhost:3000/foodbank/${id}/rate`, {
        method: "PUT",
        mode: "cors",
        cache: "no-cache",
        headers: {
          "Content-Type": "application/json; charset=utf-8"
        }
      })
        .then(res => res.json())
        .then(({ data }) => {
          this.donations = this.donations.map(donation => {
            if (donation._id === data._id) {
              return data;
            }
            return donation;
          });
          this.filteredDonations = this.donations;
        });
    },
    deleteDonation(id) {
      fetch(`http://localhost:3000/foodbank/${id}`, {
        method: "DELETE",
        mode: "cors",
        cache: "no-cache",
        headers: {
          "Content-Type": "application/json; charset=utf-8"
        }
      })
        .then(res => res.json())
        .then(() => {
          this.donations = this.donations.filter(
            donation => donation._id !== id
          );
          this.filteredDonations = this.donations;
        });
    },
    filterDonations() {
      if (this.filter === "all") {
        this.filteredDonations = [...this.donations];
      } else {
        this.filteredDonations = this.donations.filter(
          donation => donation.dietaryRequirement === this.filter
        );
      }
    },
    filterByRatings() {
      const sortFunction = (a, b) => {
        if (this.ratingFilter === "ascending") {
          return a.rate - b.rate;
        } else if (this.ratingFilter === "descending") {
          return b.rate - a.rate;
        }
      };
      this.filteredDonations = this.filteredDonations.sort(sortFunction);
    }
  }
};
</script>

<style>
.wrapper {
  width: 100%;
  flex-direction: column;
}
.filter {
  display: flex;
  width: inherit;
  margin: 20px 0;
  justify-content: space-between;
}
.diet,
.rating {
  height: 30px;
  border: 1px solid #00c19a;
}
label[for="diet"] {
  width: 70%;
}
.label[for="rating"] {
  width: 30%;
}
label {
  display: flex;
  font-size: 10px;
  padding: 0 20px;
}
select {
  width: 100%;
  display: inline-block;
}
.donation-list {
  display: grid;
  grid-gap: 10px;
  width: inherit;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .donation-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .donation-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>
