<template>
  <header>
    <nav class="container">
      <ul class="navigation" role="navigation">
        <router-link tag="a" to="/">Home</router-link>
        <router-link tag="a" to="/donate">Donate</router-link>
      </ul>
      <ul v-if="auth === 'true'">
        <a href="logout" v-on:click.prevent="logout">Logout</a>
      </ul>
      <ul v-else>
        <router-link tag="a" to="/login">Login</router-link>
        <router-link tag="a" to="/sign-up">Sign Up</router-link>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  name: "navigation",
  props: ["auth"],
  methods: {
    logout() {
      this.$emit('logout')
    }
  }
};
</script>

<style lang="css" scoped>
header {
  background-color: #00c19a;
}

nav {
  justify-content: space-between;
}
.navigation {
  width: 50%;
  display: flex;
}

a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold
}
</style>
